@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
.logo{
	margin:auto;
	margin-top:4px;
	width:60px;
	height:60px;
	border-radius:50%;
	background-image: url(images/logo.png);
	background-position:center;
	background-size:contain;
}
.logo a:hover{
	background: #242424;
}
.fn{
	color:#FFF; 
	background:#000;
	background-image:url(images/fn.png);
	background-repeat:no-repeat;
	background-position:bottom center;
}
.fn a:hover { 
	color:#FFF; 
	background:#000;
	background-image:url(images/fn.png);
	background-repeat:no-repeat;
	background-position:bottom center;
	} 
nav{
    position: relative;
    z-index: 1000;
    height: 70px;
    box-sizing: border-box;
    background: #242424;
    border-bottom: 1px solid #000;
}
nav ul{
	margin-left:25%;
	list-style:none;
	}
nav ul li{ 
	width:150px;
	height:70px;
	float:left; 
	line-height:70px; 
	text-align:center; 
	position:relative;
	}   
nav ul li a{ 
	text-decoration:none; 
	display:block;
	padding:0px 10px;
	color:#FFF;
	}
 
nav ul li a:hover { 
	color:#FFF; 
	background:#000;
	} 
nav ul li ul{ 
	margin-left:0px;
	position:relative; 
	display:none;
	}  
nav ul li ul li{ 
	float:left;
	text-align:left;
	background-color:#999;
	}  
nav ul li ul li a{ 
	line-height:70px; 
	}  
nav ul li ul li a:hover{ 
	background-color:#06f;
	}  
nav ul li:hover ul{ 
	display:block;
	} 
#srch{
	margin-top:27px;
}
.btn{
	margin-top:-25px;
}
.btn input{
	width:75px;
	height:30px;
	background-color:#242424;
	margin-left:200px;
	color:#FFF;
	font-family:"微软雅黑";
	font-size:18px;
	border-radius:15px;
}

.redline{
	 border-bottom: 5px solid #C10D0C;
}
.loginmain{
	width:900px;
	height:700px;
	margin:auto;
	background-image:url(images/login.png);
	background-origin:content-box;
	background-repeat:no-repeat;
	border-style:solid;
	border-width:1px;
	border-color:#dfdfdf;
}
.top{
	margin-top:70px;
	margin-left:500px;
	font-family:"微软雅黑";
	font-size:18px;
}
.top h1{
	font-family:"微软雅黑";
	font-size:28px;
	color: #333;
}
.top p{
	font-family:"微软雅黑";
	font-size:18px;
	color: #333;
}
.login{
	margin-top:50px;
	margin-left:500px;
	font-family:"微软雅黑";
	font-size:18px;
}
.login p{
	margin-top:20px;
}
.b{
	margin-top:30px;
	margin-left:500px;
}
.b input{
	width:50px;
	height:25px;
	background-color:#2677c5;
	margin-left:50px;
	color:#FFF;
	font-family:"微软雅黑";
	font-size:16px;
	border-radius:5px;
}


.bottom{
	width:100%;
	height:120px;
	background-color:#dfdfdf;
	float:left;
	margin-top:20px;
}
.bottom .xinxi{
	text-align:center;
	font-size:18px;	
}
.bottom .msg{
	float:right;
	text-align:left;
	font-size:18px;	
}


